<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template_variable</title>
    <style type="text/css">
       table tr td ,th{border:1px solid red}
    </style>
</head>
<body>
    <table >
        <tr >
            <th>name</th>
            <th>en_name</th>
            <th>project</th>
            <th>score</th>
        </tr>
        <tr >
            <td>{{name}}</td>
            <td>{{en_name}}</td>
            <td>{{project.1}}</td>
            <td>{{score.python}}</td>
        </tr>
    </table>
</body>
</html>