{% extends 'seller/base.html' %}

{% block title %}
    商品列表
{% endblock %}

{%  block label %}
   在售商品
{% endblock %}

{% block content %}
    <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <span class="m-0 font-weight-bold text-primary">商品列表</span>
                <a href="/Seller/goods_add/" class="m-0 font-weight-bold text-primary" style="float: right" >增加商品</a>
            </div>

            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                       <th>商品编号</th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>商品数量</th>
                        <th>商品产地</th>
                        <th>商品保质期</th>
                        <th>操作</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                       <th>商品编号</th>
                        <th>商品名称</th>
                        <th>商品价格</th>
                        <th>商品数量</th>
                        <th>商品产地</th>
                        <th>商品保质期</th>
                        <th>操作</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for p  in goods_lists %}
                    <tr>
                      <td>{{ p.goods_num }}</td>
                      <td>{{ p.goods_name }}</td>
                      <td>{{ p.goods_price }}</td>
                      <td>{{ p.goods_count }}</td>
                      <td>{{ p.goods_location }}</td>
                      <td>{{ p.goods_save_month }}</td>
                      <td>
                          <button  class="btn btn-primary" >编辑</button>
                          {% ifequal p.goods_status 1 %}
                          <a class="btn btn-danger" href="/Seller/goods_status/down/{{ p.id }}">下架</a>
                          {% else %}
                          <a class="btn btn-danger" href="/Seller/goods_status/up/{{ p.id }}">上架</a>
                          {% endifequal %}
                      </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>


    <ul class="pagination" style="float: right;margin-right: 100px;">
        <!-- 上一页 -->
        {% if goods_lists.has_previous %}
        <li class="paginate_button page-item previous " id="dataTable_previous">
            <a href="/Seller/goods_list/{{ goods_lists.previous_page_number }}/{{ status }}/" aria-controls="dataTable"
               data-dt-idx="0" tabindex="0" class="page-link">上一页</a>
        </li>
        {% endif %}
        <!-- 分页 -->
        {% for p in goods_pagin.page_range %}
        <li class="paginate_button page-item">
             {% if status == 'up' %}
                  <a href="/Seller/goods_list/{{ p }}/up/" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ p }}</a>
                  {% else %}
                   <a href="/Seller/goods_list/{{ p }}/down/" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">{{ p }}</a>
               {% endif %}
       </li>
        {% endfor %}
        <!-- 下一页 -->
        {% if goods_lists.has_next %}
            <li class="paginate_button page-item next" id="dataTable_next">
                <a href="/Seller/goods_list/{{ goods_lists.next_page_number }}/{{ status }}/" aria-controls="dataTable"
                   data-dt-idx="7" tabindex="0" class="page-link">下一页</a>
            </li>
        {% endif %}
    </ul>

{% endblock %}
