{% extends 'buyer/base.html' %}
{% block title %}
    列表页
{% endblock %}

{% block content %}
  <div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>&gt;</span>
		<a href="#">新鲜水果</a>
	</div>
    {% if goods_list %}
    <div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for good in recommon_list %}
					<li>
						<a href="/Buyer/good_detail/{{ good.id }}/"><img src="/static/{{ good.goods_picture }}"></a>
						<h4><a href="/Buyer/good_detail/{{ good.id }}/">{{ good.goods_name }}</a></h4>
						<div class="prize">{{ good.goods_price|floatformat:2 }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="#" class="active">默认</a>
				<a href="#">价格</a>
				<a href="#">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for good in goods_list %}
				<li>
					<a href="/Buyer/good_detail/{{ good.id }}/"><img src="/static/{{ good.goods_picture }}"></a>
					<h4><a href="/Buyer/good_detail/{{ good.id }}/">{{ good.goods_name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ good.goods_price|floatformat:2 }}</span>
						<span class="unit">{{ good.goods_price|floatformat:2 }}/500g</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

            <span style="display: inline-block;float: right;font-size: 10px;">当前页:{{ page }} | 总页: {{ page_list.num_pages }} | 当前页数目:{{  goods_list|length }} | 总数:{{page_list.count }} </span>
            <div class="pagenation">

			<a href="/Buyer/good_list/1/?type={{ type }}&keyword={{ keyword }}" >首页</a>

                {% for p in pages %}
                    {% ifequal p page %}
                        <a href="/Buyer/good_list/{{ p }}/?type={{ type }}&keyword={{ keyword }}" class="active">{{ p }}</a>
                    {% else %}
                        <a href="/Buyer/good_list/{{ p }}/?type={{ type }}&keyword={{ keyword }}" >{{ p }}</a>
                    {% endifequal %}
                {% endfor %}
			<a href="/Buyer/good_list/{{ pages|length }}/?type={{ type }}&keyword={{ keyword }}" >尾页</a>

			</div>
		</div>
	</div>
    {% else %}
        <p style="text-align: center;color: deepskyblue;font-size: 20px">对不起，没有找到你要的商品</p>
    {% endif %}
{% endblock %}









