{% extends 'base.html' %}

{% block style %}
    <style>
        .w {
            width: 1000px;
            margin: 0 auto;
        }

        .item {
            width: 25%;
            float: left;
        }

        .item img {
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">网站首页</a>>><a href="#" target="_blank">个人相册</a></span><b>个人相册</b></h2>
      <div class="lispic">
        <ul>
          <li><a href="/"><img src="/static/images/01.jpg"><span>图片展示</span></a></li>
          <li><a href="/"><img src="/static/images/02.jpg"><span>图片展示</span></a></li>
          <li><a href="/"><img src="/static/images/03.jpg"><span>图片展示</span></a></li>
          <li><a href="/"><img src="/static/images/04.jpg"><span>图片展示</span></a></li>
          <li><a href="/"><img src="/static/images/03.jpg"><span>图片展示</span></a></li>
          <li><a href="/"><img src="/static/images/06.jpg"><span>图片展示</span></a></li>
          <li><a href="/"><img src="/static/images/01.jpg"><span>图片展示</span></a></li>
          <li><a href="/"><img src="/static/images/02.jpg"><span>图片展示</span></a></li>
        </ul>
      </div>
    </div>

<div class="w" id="container">
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
    <div class="item"></div>
</div>
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
<script>
    $(function () {
        var obj = new ScrollImg();
        obj.fetchImg();
        obj.scrollEvent();

    });
    function ScrollImg() {
        this.NID = 0;
        this.LASTPOSITION = 3;
        this.fetchImg = function () {
            var that = this;
            $.ajax({
                url: '/Article/getImgs/',
                type: 'GET',
                data: {nid: that.NID},
                dataType: 'JSON',
                success: function (arg) {
                    var img_list = arg.data;
                    $.each(img_list, function (index, v) {
                        var eqv = (index + that.LASTPOSITION + 1) % 4;
                        //console.log(eqv);
                        var tag = document.createElement('img');
                        tag.src = '/static/' + v.src;
                        $('#container').children().eq(eqv).append(tag);
                        if (index + 1 == img_list.length) {
                            that.LASTPOSITION = eqv;
                            that.NID = v.id;
                        }
                    })

                }

            })
        };
        this.scrollEvent = function () {

            var that = this;
            $(window).scroll(function () {
                var scrollTop = $(window).scrollTop();
                var winHeight = $(window).height();
                var docHeight = $(document).height();
                if (scrollTop + winHeight == docHeight) {
                    that.fetchImg();
                }
            })
        }

    }

</script>

{% endblock %}