{% extends 'base.html' %}
{% block style %}
<link href="/static/css/index.css" rel="stylesheet">
{% endblock %}
{% block content %}
  <div class="jztop"></div>
  <div class="container">
    <div class="bloglist f_l">
        {% for art in new_article %}
              <h3><a href="/jstt/bj/2017-07-13/784.html">{{ art.title }}</a></h3>
              <figure><img src="/static/{{ art.picture}}" alt="{{ art.title }}"></figure>
              <ul>
                <p>{{ art.description }}</p>
                <a title="【{{ art.article_type.1 }}】{{ art.title }}" href="/content/{{ art.id }}" target="_blank" class="readmore">阅读全文&gt;&gt;</a>
              </ul>
              <p class="dateview"><span>{{ art.public_time }}</span><span>作者：{{ art.article_author }}</span>
              <span>标签：[
                 {% if art.article_type.all %}
                    {% for i in art.article_type.all %}
                     {{ i }}
                     {% endfor %}
                  {% endif %}]
              </span></p>
        {% endfor %}
    </div>
    <div class="r_box f_r">
      <div class="tit01">
        <h3 class="tit">关注{{ username }}</h3>
        <div class="gzwm">
          <ul>
            <li><a class="email" href="#" target="_blank">我的电话</a></li>
            <li><a class="qq" href="#mailto:admin@admin.com" target="_blank">我的邮箱</a></li>
            <li><a class="tel" href="#" target="_blank">我的QQ</a></li>
            <li><a class="prize" href="#">个人奖项</a></li>
          </ul>
        </div>
      </div>
      <!--tit01 end-->

      <div class="tuwen">
        <h3 class="tit">图文推荐</h3>
        <ul>
            {% for art in recomm_article %}
              <li><a href="/content/{{ art.id }}"><img src="/static/{{ art.picture }}"><b>{{art.title }}</b></a>
                <p><span class="tulanmu"><a href="/content/{{ art.id }}/">
                    [
                 {% if art.article_type.all %}
                    {% for i in art.article_type.all %}
                     {{ i }}
                     {% endfor %}
                  {% endif %}]
                </a></span><span class="tutime">{{ public_time }}</span></p>
              </li>
            {% endfor %}
        </ul>
      </div>
      <div class="ph">
        <h3 class="tit">点击排行</h3>
        <ul class="rank">
            {% for art in click_artcle %}
              <li><a href="/content/{{ art.id }}" title="{{ art.title }}" target="_blank">{{ art.title }}</a></li>
            {% endfor %}
        </ul>
      </div>
      <div class="ad"> <img src="/static/images/03.jpg"> </div>
    </div>
  </div>
  <!-- container代码 结束 -->
  <div class="jzend"></div>
  {% endblock %}