<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/jq/jquery.min.js"></script>
</head>
<body>

    <input type="text" id="content" >
    <input type="button" id = "button"  value="button">

    <script>

        $(function () {
             $("#button").click(
                 function () {
                     var name = $("#content").val();
                     var sendData = {
                         "name": name,
                         "csrfmiddlewaretoken":'{{ csrf_token }}'
                     };
                    $.ajax(
                        {
                             url:"/ajaxpostdata/",
                             type:"post",
                             data:sendData,
                             success:function (data) {
                                 $("#content").val('name:'+data['name'])
                                 console.log(data)
                             },
                             error:function (data) {
                                 $("#content").val("提交失败")
                             }
                        }

                    )
                 }
             )
        })

    </script>

</body>
</html>