{% extends 'base.html'%}
{% block content %}
    <div class="about_box">
      <h2 class="nh1"><span>您现在的位置是：<a href="/" target="_blank">{{ types }}</a>>><a href="#" target="_blank">{{ types }}</a></span><b>{{ types }}</b></h2>
      <div class="dtxw box">
        {% for art in search_list %}
        <li>
          <div class="dttext f_l">
            <ul>
              <h2><a href="/content/{{ art.id}}">{{ art.article_type.1 }}{{ art.title }}</a></h2>
              <p>{{ art.description }}</p>
              <span>{{ art.public_time }}</span>
            </ul>
          </div>
          <div class="xwpic f_r"><a href="/"><img src="/static/{{ art.picture  }}"></a></div>
        </li>

        {% endfor %}

      </div>

      </div>
{% endblock %}
